
/* header */
h1{
    color: teal;
    font-weight: bold;
}
h3{
    color: white;
}
p{
    color: white;
    padding-top: 20px;
}
h5{
    color: teal;
}
.icon{
    position: relative;
    cursor: pointer;
}
#search:focus {
    box-shadow: none;
    outline: none;
    color: black;
}
.icon span {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: absolute;
    right:43px;
    color: white;
}
.menu li:hover a {
    color: black;
    font-weight: bold;
}
/* banner */
.banner {
    margin-top: 1px;
    position: relative;
    height: 52%;
}
.banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightseagreen;
    z-index: 1;
}
.container {
    position: relative;
    z-index: 2;
    
}
h2{
    color: teal;
    text-align: center;
    padding-top: 30px;
}
#text {
    font-size: 15px;
    font-weight: 600;
    text-align: center;

}
/* .image img {
    margin-top: 20px;
    width: 180px;
    height: 280px;
    margin-left: 150px;
} */
.image img {
    padding-top: 50px;
}
/* P */
.Style{
    text-align: center;
    font-weight: bold;
    font-size: 20px;  
}

.footer{
    padding: 100px;
}  
.copyright{
    margin-left: 50px;
}
.product {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;


}



 /* X-Small devices (portrait phones, less than 576px) */
/*  No media query for xs since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #nav{
        display: flex;
        justify-content: center;
    }
    #nav>ul>li>button{
        font-size: 10px;
    }
    .menu li{
        padding: 5px 0px;
    }
    .menu li a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 600 ;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #nav{
        display: flex;
        justify-content: center;
    }
    .menu li{
        padding: 5px 0px;
    }
    .menu li a{
        text-decoration: none;
        color: var(--black);
        font-size: 18px;
        font-weight: 600 ;
    }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .menu li{
        padding: 5px 0px;
    }
    .menu li a{
        text-decoration: none;
        color: var(--black);
        font-size: 18px;
        font-weight: 600 ;
    }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .menu {
        display: flex;
    }
    .menu li {
        padding: 0px 15px;
        margin-top: 10px;
    }
    .menu li a{
        text-decoration: none;
        color: gray;
        font-size: 17px;
        font-weight: 600;
    }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #nav>ul>li {
        padding: 0 5px;
    
    }
    #nav>ul>li>button:focus{
        color: white;
        box-shadow: none;
        background-color: var(--pomegranate);
    }
}