@import url('./display.css');

/* Header and nav */
h1 {
  color: var(--tomatoes);
}
#bigpage a {
  text-decoration: none;
}
.icon {
  position: relative;
  cursor: pointer;
}
#search:focus {
  box-shadow: none;
  outline: none;
  color: black;
}
.icon span {
  width: 20px;
  height: 20px;
  background-color: var(--pomegranate);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  margin-top: 3px;
  left: 18px;
  color: var(--white);
}
/*name product*/
#container-product {
  margin-top: 100px;
  text-align: center;
}
.product-name h1 {
  color: black;
  font-size: 50px;
}
.product-name p {
  font-size: 25px;
}
/*product-show-name*/
#product-show-name h1 {
  color: var(--pomegranate);
  margin-left: 80px;
  
}
/*Show Product Samoyed*/
#img-1{
  height: 217px;
}
/* show product Pomeranian */
#img-2 {
  height: 208px;
}
/* Show Product Westie */
#img-3 {
  height: 203px;
}
/* Show Product Pomsky */
#img-4{
  height: 224px;
}
/* show product Maltese */
#img-5 {
  height: 203px;
}
/* show product bichon */
#img-2-6 {
  height: 201px;
}
#img-3-6{
  height: 210px;
}
@media (min-width: 1200px) {
  /* header and nav */
  .menu {
    display: flex;
    margin-top: 10px;
  }
  .menu li {
    padding: 0px 15px;
    margin-top: 10px;
  }
  .menu li a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
    font-weight: 600;
  }
  .menu li a:hover {
    color: black;
  }
}

/* footer */
footer{
  background: #343434;
  padding-top: 50px;
}
#container-footer{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content{
  width: 33.3%;
}
#h3-footer{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
  
}
.footer-content p{
  color: white;
  margin: auto;
  padding: 7px;
  font-size: 18px;
}
.footer-content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type:none;
  padding: 7px;
  position: relative;
}
.list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: .5s;
}
.list li:hover::before{
  width: 70px;
}
.social-icons{
  text-align: center;
  padding: 0;
}
.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i{
  color: white;
  font-size: 25px;
}
.list li a{
  text-decoration: none;
}
a:hover{
  color: #f18930;
}
.social-icons i:hover{
  color: #f18930;
}
.bottom-bar{
  background: #f18930;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p{
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}