@import url("./display.css");

/* Header and nav */
h1{
    color: var(--tomatoes);
}
#bigpage a {
    text-decoration: none;
    
}
.icon {
    position: relative;
    cursor: pointer;
}
#search:focus {
    box-shadow: none;
    outline: none;
    color: black;
}
.icon span {
    width: 20px;
    height: 20px;
    background-color: var(--pomegranate);
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: absolute;
    margin-top: 3px;
    left: 18px;
    color: var(--white);
}

/* Middle-banner */
.middle-banner{
    margin-top: 80px;
    position: relative;
}
.middle-banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: var(--white); */
    z-index: 1;
}
#middle-container {
    position: relative;
    z-index: 2;
}
#button-a a{
    text-decoration: none;
    color: black;
}
h2{
    color: var(--red);
    font-weight: bold;
}
p{
    color: var(--black);
    font-size: 20px;
}
#controll {
    margin-left:4px ;
}
.image {
    width: 80%;
    height: 100%;
}
.image img {
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

/*clip-icon*/ 
#card-clip {
    display: grid;
    place-items: center;
    padding: 30px 5px;
}
.clip-icon {
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--darkgreen);
}
.clip-icon>span {
    left:18px;
    right: 0;
    top: 45px;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color: var(--darkgreen);
    position: absolute;
    clip-path: polygon(38% 99%, 20% 43%, 61% 43%);
}

/*Featured Products and show-products */
.body-products {
    background-color: var(--Chocolate);
}
#little-product {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    padding: 20px;
}
#container {
    display: flex;
    justify-content: center;
}
.product-card {
    background-color: var(--white);
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
}
.card-image {
    background-color: aqua;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
}
.detail-font {
    font-size: 20px;
    text-align: center;
}
.product-card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 10px;
}
.product-card:hover  {
    background-color: var(gray);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.pet-1 {
    background-image: url('/pics/Featured-product/Dog\ and\ cat.jfif');
}
.pet-2 {
    background-image: url('/pics/Featured-product/alldog.jfif');
}
.pet-3{
    background-image: url('/pics/Featured-product/twodog.jfif');
}

/*check out the doggies */
#letter-h1 {
    color: black;
    font-weight: bold;
}
.card-img-tops {
    border-radius: 30px;
    padding: 20px;
}
#card-title-h5 {
    color: blue;
    font-size: 30px;
    
}
#card-text-p {
    font-size: 20px;
}
#card-pic {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
}
#card-bodyss {
    padding: 25px;
    margin-top: -15px;
}
#button-checkout{
    border-radius: 50px;
    width: 120px;
}

/* footer */
footer{
    background: #343434;
    padding-top: 50px;
}
#container-footer{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
#h3-footer{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    
}
.footer-content p{
    color: white;
    margin: auto;
    padding: 7px;
    font-size: 18px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
.list li a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}












/* media */
@media (max-width: 576px){
    

}
@media (min-width: 768px){
    

}
@media (min-width: 992px) {
    .menu li{
        padding: 5px 0px;
    }
    .menu li a{
        text-decoration: none;
        color: var(--black);
        font-size: 18px;
        font-weight: 600 ;
    }

}   
@media (min-width: 1200px) {
    /* header and nav */
    .menu {
        display: flex;
        margin-top: 10px;
    }
    .menu li {
        padding: 0px 15px;
        margin-top: 10px;
    }
    .menu li a {
        text-decoration: none;
        color: gray;
        font-size: 17px;
        font-weight: 600;
    }
    .menu li a:hover{
        color: black;
    
    }
}
@media (min-width: 1400px) { 

}